<% include partials/header %>

<div class="box">
	<nav class="navbar navbar-expand-lg sticky-top">
		  	<a class="navbar-brand" href="/home" id="companyName" style="color: #E7F3FF; font-family: 'Raleway', sans-serif;">
		    	<b><i class="fa fa-heartbeat" style="padding-right: 7px;" aria-hidden="true"></i>Health and Medicine</b>
		  	</a>
		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"><i class="fa fa-navicon" style="font-size: 30px"></i></span>
		  	</button>
		  	<div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right: 5%">
		    	<ul class="navbar-nav ml-auto">
					<li class="nav-item">
		        		<a class="nav-link" href="/cart" style="color: #E7F3FF; font-family: 'Raleway', sans-serif; font-size: 18px; padding-right: 20px;">Cart</a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="/bill" style="color: #E7F3FF; padding-right: 20px; font-family: 'Raleway', sans-serif; font-size: 18px;", sans-serif">Bill</a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="/history" style="color: #E7F3FF; font-family: 'Raleway', sans-serif; padding-right: 20px; font-size: 18px">History</a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="/profile" style="color: #E7F3FF; padding-right: 20px; font-size: 18px; font-family: 'Raleway', sans-serif;">Profile</a>
					  </li>
					  <li class="nav-item">
		        		<a class="nav-link" href="/news" style="color: #E7F3FF; font-family: 'Raleway', sans-serif; font-size: 18px; padding-right: 20px;">News</a>
					  </li>
					  <li class="nav-item">
		        		<a class="nav-link" href="/search" style="color: #E7F3FF; font-family: 'Raleway', sans-serif; font-size: 18px; padding-right: 20px;">Hospitals Near Me</a>
					  </li>
					  <li class="nav-item">
		        		<a class="nav-link" href="/record" style="color: #E7F3FF; font-family: 'Raleway', sans-serif; font-size: 18px; padding-right: 20px;">Health Record</a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="/logout" style="color: #E7F3FF; padding-right: 10px; font-size: 18px; font-family: 'Raleway', sans-serif; padding-right: 20px;">Logout</a>
		      		</li>
		    	</ul>
		  	</div>
	</nav>

	<div class="home">
		<div class="row">
			<div class="col-md-3" id="palette">
				<h3>Search by Category</h3>
				<hr>
				<p onclick="location.href='/home/Baby Care'">Baby Care</p>
				<p onclick="location.href='/home/Corona Special'">Corona Special</p>
				<p onclick="location.href='/home/Common Cold'">Common Cold</p>
				<p onclick="location.href='/home/Dental Hygiene'">Dental Hygiene</p>
				<p onclick="location.href='/home/Skin Care'">Skin Care</p>
				<p onclick="location.href='/home/Instant Energy'">Instant Energy</p>
				<p onclick="location.href='/home/Sanitary Needs'">Sanitary Needs</p>
				<p onclick="location.href='/home/Body Pain'">Body Pain</p>
			</div>
			<div class="col-md-9">
				<h3><%= category %></h3>
				<hr>
				<div class="row">
				<% products.forEach(function(product) { %>
					<% if(product.category == category) { %>
						<div class="col-md-4 col-sm-6">
							<div class="thumbnail-image">
								<img src="<%= product.image %>" onclick="location.href='/details/<%= product._id %>'">
							</div>
							<br>
							<div class="row">
								<div class="col-sm-7">
									<h5><%= product.name %></h5>
								</div>
								<div class="col-sm-5">
									<h5><%= product.price %>/<%= product.unit %></h5>
								</div>
							</div>
						</div>
					<% } %>
				<% }); %>
				</div>
			</div>	
		</div>
	</div>
</div>

<% include partials/footer %>